a(href="").benefits__element.benefits__element--slide
  .benefits__icon(style="width: 50px;")
    img(src="./images/icons/speaker.png")
  .benefits__title АКЦИИ И СКИДКИ
  .benefits__notification Активным посетителям детского <br> лагеря - скидка!
  .benefits__description При оплате 5 дней пребывания в детском легере <br> &laquo;Летние каникулы в музее&raquo; - скидка!
