.events__event
  .events__date <span>12</span>\09\2016
  .events__theme Лекция-эксперимент
  h3.events__title ДИФУЗИЯ. ВЗАИМОДЕЙСТВИЕ МОЛЕКУЛ И АТОМОВ В ПРИРОДЕ.
  a(href='lecture.html').events__button ПОДРОБНЕЕ
  a(href='#').events__button ПРИОБРЕСТИ БИЛЕТЫ
