.lectures__item
  .lectures__portrait(style="background-image: url('images/tesla.jpg')")
    .filter.filter--main
    .gradient.gradient--main-transparent
  .lectures__illustration(style="background-image: url('images/tesla-transformator.jpg')")
  .lectures__content
    h4 ТРАНСФОРМАТОР ТЕСЛА
    p Устройство, изобретенное Николой Теслой, что носит его имя и выполненное
      | в виде трансформатора, включенного обмотками в колебательный контур,
      | которые работают в резонансном режиме и служат для создания высокого
      |  электрического напряжения (десятки киловольт) высокой частоты (обычно, 20&hellip;100кГц). <br>
      | Устройство было запотентовано 22 сентября 1896 года, как
      | &laquo;Апарат для создания электрических токов высокой частоты и потанцеала&raquo;
    a(href="lecture.html") ЧИТАТЬ ДАЛЬШЕ
    a(href="#") ПРИОБРЕСТИ БИЛЕТЫ НА ШОУ
