.news__item
  .news__title
    div
      div 14/04/16
      h4 Музей &laquo;Экспериментаниум&raquo; побывал на допремьерном показе мультфильма <br> "Норм и Непобежденные"
    .news__details(style="background-image: url('images/news.jpg');")
      .filter.filter--orange
      .news__links
      a(href="#") ПОДРОБНЕЕ
  .news__title
    div
      div 14/04/16
      h4 Музей &laquo;Экспериментаниум&raquo; побывал на допремьерном показе мультфильма <br> "Норм и Непобежденные"
    .news__details(style="background-image: url('images/news.jpg');")
      .filter.filter--orange
      .news__links
      a(href="#") ПОДРОБНЕЕ
  .news__title
    div
      div 14/04/16
      h4 Музей &laquo;Экспериментаниум&raquo; побывал на допремьерном показе мультфильма <br> "Норм и Непобежденные"
    .news__details(style="background-image: url('images/news.jpg');")
      .filter.filter--orange
      .news__links
      a(href="#") ПОДРОБНЕЕ
