.common-contacts
  .container.container--wide
    .common-contacts__wrapper
      .common-contacts__info
        div
          p Ждем вас по адресу
          p Г. КИЕВ, УЛ. ВЕРХНИЙ ВАЛ 2А
        div
          p График работы музея:
          p ПН-ВЫХОДНОЙ
          p ВТ-ПТ: 09:30 - 19:00
          p СБ-ВС, ПРАЗДНИКИ: 10:00 - 20:00
        div
          p Контакты
          p +38 (044) 425-65-81,
          p +38 (096) 477-97-91,
          p +38 (099) 256-71-27
        p enjoy@experimentanium.com.ua
      .common-contacts__map
      .common-contacts__booking
        div
          p ЗАПЛАНИРОВАТЬ ВИЗИТ
          form
            input(placeholder='10/05/2016')
            input(placeholder='11:00')
            input(placeholder='Количество билетов')
            button ЗАБРОНИРОВАТЬ
