footer.footer
  .container
    .footer__wrapper
      .footer__contacts
        .footer__logo
          div
            img(src="images/logo.png")
          p <span>Экспериментаниум</span> <br> музей популярной науки и техники
        .footer__subscribe
          .footer__header.footer__header--roboto Подписаться на новости
          form
            input(placeholder='Введите e-mail', type="email")
            button.fa.fa-paper-plane
        .footer__social
          .footer__header.footer__header--roboto Мы в социальных сетях
          a.fa.fa-facebook
          a.fa.fa-twitter
      .footer__links
        div
          div
            .footer__header ЭКСПОЗИЦИЯ И ШОУ
            a(href="#").footer__link Шру в музее
            a(href="#").footer__link Экспозиция музея
            a(href="#").footer__link Выездные шоу
            a(href="#").footer__link 3Д тур
          div
            .footer__header НОВОСТИ
            a(href="#").footer__link Новости музея
            a(href="#").footer__link Новости из мира науки
            a(href="#").footer__link Анонсы
            a(href="#").footer__link Акции
          div
            .footer__header ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ
            a(href="#").footer__link Школьнык экскурсии
            a(href="#").footer__link Научные кружки
            a(href="#").footer__link Лекции
            a(href="#").footer__link Мастер-классы
          div
            .footer__header ОРГАНИЗАЦИЯ ПОДХОДОВ
            a(href="#").footer__link День рождения
            a(href="#").footer__link Корпоративные методы
            a(href="#").footer__link Аренда помещений
            a(href="#").footer__link Кафе
        div
          div
            .footer__header О НАС
            a(href="#").footer__link Про музей
            a(href="#").footer__link Правила поведения
            a(href="#").footer__link Отзывы
            a(href="#").footer__link Благотворительность
            a(href="#").footer__link FAQ
          div
            .footer__header МУЗЕЙ
            a(href="#").footer__link Билеты
            a(href="#").footer__link Магазин
            a(href="#").footer__link Вакансии
            a(href="#").footer__link Фото и видео
            a(href="#").footer__link Благодарности
