$color-main: rgb(144, 78, 202);
$color-main2: #3d176b;
$color-main3: rgb(145, 83, 204);
$color-main4: #7b3fb3;
$color-news: #7b4aa6;
$color-news2: #282b30;
$color-main-lime: #90c004;
$color-main-orange: #dd892d;
$color-main-orange2: #d27a12; 
$color-white: #fff;
$color-black: #000;
$color-dark-light: #282b30;
$color-dark: #010101;
